<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= member.date_of_birth %>
  </p>

  <p>
    <strong>Kinship:</strong>
    <%= member.kinship %>
  </p>

</div>
